form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: start;
}

input {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #89b4fa;
    padding: 5px;
    box-sizing: border-box;
}

select {
    width: 150px;
    /* height: 150px; */
    border-radius: 5px;
    border: 1px solid #89b4fa;
    padding: 5px;
    box-sizing: border-box;
}
